<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Earth</a></li>
    <li><a ng-href="#">Moon</a></li>
    <li><a ng-href="#">Mars</a></li>
  </ul>
  <h3 class="text-muted">3dplanet</h3>
</div>

<div class="jumbotron">
  <make-earth></make-earth>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>Using Three.js</h4>
  <p>
    A lightweight JavaScript 3D library
  </p>

<div class="footer">
  <p>♥ from our solar system</p>
</div>
